  <ion-item-sliding *ngIf="showJobComponent">
    <ion-item (click)="pushJobDetails(jobItemObject)" class="jobItemStyle">
            <ion-grid>
                <ion-row><ion-col width-100><p class="jobListName" id="nameCustomer">{{jobItemObject._idPeople.firstName}} {{jobItemObject._idPeople.lastName}}</p></ion-col></ion-row>
                <ion-row><ion-col width-100><p id="addressCustomer">{{jobItemObject.address.street + " " + jobItemObject.address.zipCode + " " + jobItemObject.address.state  + ", " + jobItemObject.address.city}}</p></ion-col></ion-row>
                <ion-row><ion-col width-50><p id="phoneCustomer"><ion-icon name="call"></ion-icon> {{jobItemObject._idPeople.primaryPhoneNumber.number}}</p></ion-col><ion-col width-50><p id="jobStatusCustomer">{{jobItemObject.currentStatus}}</p></ion-col></ion-row>
            </ion-grid>
    </ion-item>
    <ion-item-options side="left">
      <a href="mailto:alexescamore@gmail.com" class="emailSlidingItem">
        <ion-label center><ion-icon name="at"></ion-icon><br>Email</ion-label>
      </a>
      <a href="tel:8015003266" class="callSlidingItem">
        <ion-label><ion-icon name="call"></ion-icon><br>Call</ion-label>
      </a>
      <a href="sms:8015003266" class="textSlidingItem">
        <ion-label><ion-icon name="text"></ion-icon><br>Text</ion-label>
      </a>
    </ion-item-options>
    <ion-item-options side="right">
    <button ion-button color="secondary" (click)="ChangePipelineStatus('Sold')">
        <ion-icon name="card" ></ion-icon>
            Sold
        </button>
     <button ion-button color="energized" (click)="statusWasSelected()">
        <ion-icon name="eye"></ion-icon>
        Didn't Buy
      </button>
      <button ion-button color="danger">
        <ion-icon name="close-circle"></ion-icon>
        Reject
      </button>
    </ion-item-options>
  </ion-item-sliding>
