<ion-header>
  <ion-navbar>
    <ion-title>Address</ion-title>
  </ion-navbar>
</ion-header>

<!--   -->
<ion-content>
    <form #f="ngForm" (ngSubmit)="saveAddress(f.value)">
        <ion-grid>
        <ion-row>
            <ion-col width-90>
                <ion-item>
                    <ion-label color="eliteRoofingDark" floating>Address</ion-label>
                    <ion-input type="text" name="address" [(ngModel)]="address" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
        <ion-col width-90>
            <ion-item>
                <ion-label color="eliteRoofingDark" floating>Zip</ion-label>
                <ion-input type="text" name="zip" [(ngModel)]="zip"></ion-input>
            </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col width-90>
            <ion-item>
                <ion-label color="eliteRoofingDark" floating>City</ion-label>
                <ion-input type="text" name="city" [(ngModel)]="city"></ion-input>
            </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col width-90>
            <ion-item>
                <ion-label color="eliteRoofingDark" floating>State</ion-label>
                <ion-input type="text" name="state" [(ngModel)]="state"></ion-input>
            </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col width-90>
            <ion-item>
                <ion-label color="eliteRoofingDark" >Country</ion-label>
                <ion-label color="eliteRoofingDark" >{{ country }}</ion-label>
                <input type="hidden" name="country" [(ngModel)]="country">
            </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90>
                <button type="submit" ion-button class="align-button-right">Save</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90>
                <ion-item *ngIf="errorMessage" no-lines>
                    <p class="errorMessage">{{ errorMessage }}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        </ion-grid>
    </form>    
</ion-content>
