<ion-header>
  <ion-navbar color="eliteRoofingDark">
    <ion-title>Email</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="email-page">
    <form #f="ngForm" (ngSubmit)="saveEmail(f.value.email)">
        <ion-grid>
        <ion-row>
            <ion-col width-90>
                <ion-item>
                    <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="emails" ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90 ><button type="submit" ion-button class="align-button-right">Save</button></ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90>
                <ion-item *ngIf="errorMessage" no-lines>
                    <p class="errorMessage">{{ errorMessage }}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        </ion-grid>
    </form>    
</ion-content>
