<ion-header>
  <ion-navbar>
    <ion-title>Email info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <form #f="ngForm" (ngSubmit)="savePhoneNumber(f.value)">
        <ion-grid>
        <ion-row>
            <ion-col width-90>
                <ion-item no-lines>
                    <p>Country Code</p>
                    <p id="contryCodeStyle">+ {{ countryCode }}</p>
                    <input type="hidden" name="countryCode" [(ngModel)]="countryCode">
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
        <ion-col width-90>
            <ion-item>
                <ion-label color="eliteRoofingDark" floating>Phone Number</ion-label>
                <ion-input type="text" name="phone" [(ngModel)]="phone"></ion-input>
                <input type="hidden" name="carrier" [(ngModel)]="carrier">
            </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90>
                <button ion-button clear (click)="selectCarrier()" type="button">{{ carrier }}</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90><button type="submit" ion-button class="align-button-right">Save</button></ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90>
                <ion-item *ngIf="errorMessage" no-lines>
                    <p class="errorMessage">{{ errorMessage }}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        </ion-grid>
    </form>    
</ion-content>
