<ion-header>
  <ion-navbar>
    <ion-title>Email</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <form #f="ngForm" (ngSubmit)="savePhoneNumber(f.value)">
        <ion-grid>
        <ion-row>
            <ion-col width-90>
                <ion-item>
                    <ion-label color="eliteRoofingDark" floating>Country Code</ion-label>
                    <ion-input type="number" name="countryCode" [(ngModel)]="countryCode"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
        <ion-col width-90>
            <ion-item>
                <ion-label color="eliteRoofingDark" floating>Phone Number</ion-label>
                <ion-input type="number" name="phone" [(ngModel)]="phone"></ion-input>
                <input type="hidden" name="carrier" [(ngModel)]="carrier">
            </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90>
                <button ion-button clear (click)="selectCarrier()" type="button">{{ carrier }}</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90><button type="submit" ion-button class="align-button-right">Save</button></ion-col>
        </ion-row>
        </ion-grid>
    </form>    
</ion-content>
