<ion-header>
  <ion-navbar>
    <ion-title>Email</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <form #f="ngForm" (ngSubmit)="savePhoneNumber(f.value)">
        <ion-grid>
        <ion-row>
            <ion-col width-90>
                <ion-item>
                    <ion-label color="eliteRoofingDark" floating>Country Code</ion-label>
                    +<ion-input type="number" name="countryCode" value="{{countryCode}}" ngModel></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
        <ion-col width-90>
            <ion-item>
                <ion-label color="eliteRoofingDark" floating>Phone Number</ion-label>
                <ion-input type="number" name="phone" value="{{phoneNumber}}" ngModel></ion-input>
                <input type="hidden" name="carrier" value="{{carrier}}" ngModel>
            </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90><button ion-button clear (click)="selectCarrier()">{{ carrier }}</button></ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-90><button ion-button class="align-button-right">Save</button></ion-col>
        </ion-row>
        </ion-grid>
    </form>    
</ion-content>
